/* Стили для подвала сайта */
.intro__input{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #0d0d0e;
    padding: 5px;
}
.intro__submit{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    color: #0d0d0e;
    background-color: blanchedalmond;
    border: none;
    padding: 5px;
}
.intro__title{
    font-size: 36px;
    font-weight: 500;
    line-height: 2.6;
    color: #0d0d0e;
    text-align: left;
}
